# Nim
nimcache/
nimblecache/
htmldocs/

# Java
*.java
*.class
*.jar

# Executable files
*.exe
*.out
*.so
*.dll
*.dylib
*.dmg

# Other files
$null

# Binary directory
bin/

# Keep install scripts
!install.ps1
!install.sh
